.sidebar {
    height: 100vh;
    width: 7%;
    background-color: #ADC178;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
}

.sidebar-icon {
    color: white;
    margin: 20px 0;
    cursor: pointer;
}

.sidebar-icon:hover {
    color: #ff6347;
}

.Welcome {
    background-image: url('../assets/images/welcome_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

  
#greenBook {
    width: 25%;
    height: auto;
    margin: 5% 37.5% 5% 37.5%;
    padding-bottom: 4%;
}

.bookHeader {
    background-color: white;
    border-radius: 20px;
    height: 17%;
    width: 15%;
    top: 25%;
    left: 43%;
    position: absolute;
    z-index: 2;

    h1 {
        font-size: 1.7em;
        padding-left: 40px;
    }
}

.bookButton {
    width: 15%;
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 43%;
    background-color: #F0EAD2;
    border-radius: 40px;
    border: none;
    min-height: 40px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.bookshelf {
    padding: 2% 8% auto auto;
    width: 90%;
}
.shelfRow {
    height: 40%;
    border-bottom: 1.5rem solid #6C584C;
    display: grid;
    margin-left: 20%;
    padding-left: 0%;
    padding-top: 3%;
    grid-template-columns: auto auto auto;
}

.shelf_object {
    padding: 0px 10% 0px 0px;
    min-width: 220px;
    justify-content: center;

    .object_name {
        position: relative;
        z-index: 5;
        width: 50%;
        margin: auto;
        font-size: 24px;
        padding-left: 20%;
    }
    img {
        padding-left: 20%;
    }
}

.TopNav {
    height: 7%;
    width: 100%;
    background-color: #ADC178;
    display: inline-block;
    text-align: center;

    img {
        height: 67px;
        width: auto;
        cursor: pointer;
    }
    #home {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #upload {
        position: absolute;
        top: 10px;
        right: 10px;

    }
}

.addSticker {
    position: absolute;
    top: 5%;
    left: 90%;
    height: 90%;
    width: 10%;
    overflow: hidden !important;
    cursor: pointer;
}

.sticker_book {
    position: absolute;
    top: 6%;
    left: 25%;
    z-index: 10;
    .bg_img {
        width: 80%;
        height: auto;
    }
    .sticker_book_header {
        position: absolute;
        top: 12%;
        left: 4%;
        display: inline-block;
        #sticker_book_header_title{
            display: inline-block;
            padding-left: 20px;
        }
        #back_button {
            max-width: 40px;
            cursor: pointer;
        }
    }
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.8);
}

.PageView {
    overflow: hidden !important;
}

.addObjectModal {
    position: absolute;
    top: 40%;
    left: 55%;
    background-color: #F9F9F9;
    width: 325px;
    height: 290px;
    border-radius: 50px 50px 0px 50px;
    z-index: 5;

    span {
        border-bottom: 2px solid grey;
        display: block;
        margin: 20px;
        margin-top: 40px;
        font-size: 30px;
        cursor: pointer;
    }
}