.journal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.flipbook {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    margin-top: 10px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 12px solid #2B7468;
}

.page-content {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.page_title {
    text-align: left;
    border-bottom: 2px solid gray;
    margin: 20px 20px 10px 20px;
}