.journal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.flipbook {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 12px solid #2B7468;
}

.page-content {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}